.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card {
  padding: 24px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.form-group {
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}

input.mat-input-element {
  color: #f5f5f5;
}

button {
  width: 100%;
}
